# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Pytest
.pytest_cache/
.cache/

# Logs de testes
resultados_testes.log

# Ambientes virtuais
.venv/
venv/
env/

# IDEs
.vscode/
.idea/
*.suo
*.user

# Sistema
.DS_Store
Thumbs.db
